-- Create the database
CREATE DATABASE Bida;
GO

-- Switch to the Bida database
USE Bida;
GO

-- Create table KHACHHANG
CREATE TABLE KHACHHANG (
    MAKH INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    TENKH NVARCHAR(100) NULL,
    SDT NVARCHAR(50) NULL
);
GO

-- Create table NHANVIEN
CREATE TABLE NHANVIEN (
    MANHANVIEN VARCHAR(50) NOT NULL PRIMARY KEY,
    TenNhanVien NVARCHAR(50) NOT NULL,
    CALAM BIT NULL,
    PASSNV VARCHAR(100) NULL
);
GO

-- Create table BAN
CREATE TABLE BAN (
    MABAN INT IDENTITY(1,1) NOT NULL PRIMARY KEY NONCLUSTERED,
    LOAIBAN BIT NULL,
    KHUVUC INT NULL,
    TINHTRANG BIT NULL,
    GIOBD DATETIME NULL,
    GIOKT DATETIME NULL,
    MAKH INT NULL,
    FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
);
GO

-- Create table BIENLAI
CREATE TABLE BIENLAI (
    MABIENLAI INT IDENTITY(1,1) NOT NULL PRIMARY KEY NONCLUSTERED,
    MANHANVIEN VARCHAR(50) NOT NULL,
    MABAN INT NOT NULL,
    MAKH INT NULL,
    ThoiGian NVARCHAR(50) NULL,
    TONGTIEN NCHAR(10) NULL,
    GioBD DATETIME NULL,
    GioKT DATETIME NULL,
    FOREIGN KEY (MANHANVIEN) REFERENCES NHANVIEN(MANHANVIEN),
    FOREIGN KEY (MABAN) REFERENCES BAN(MABAN),
    FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
);
GO


-- Create table QUANLI
CREATE TABLE QUANLI (
    MANHANVIEN VARCHAR(50) NOT NULL PRIMARY KEY,
    TENNHANVIEN VARCHAR(100) NULL,
    CALAM BIT NULL,
    PASSNV VARCHAR(100) NULL,
    FOREIGN KEY (MANHANVIEN) REFERENCES NHANVIEN(MANHANVIEN)
);
GO

-- Create table NUOC
CREATE TABLE NUOC (
    MANUOC INT NOT NULL PRIMARY KEY,
    TENNUOC NVARCHAR(50) NULL,
    PRICE INT NULL
);
GO

-- Create table ORDERS
CREATE TABLE ORDERs (
    MADV INT NOT NULL PRIMARY KEY,
    MANUOC INT NULL,
    MABIENLAI INT NULL,
    MABAN INT NULL,
    SOLUONGKHACHMUA INT NULL,
    FOREIGN KEY (MANUOC) REFERENCES NUOC(MANUOC),
    FOREIGN KEY (MABIENLAI) REFERENCES BIENLAI(MABIENLAI),
    FOREIGN KEY (MABAN) REFERENCES BAN(MABAN)
);
GO

-- Insert data into KHACHHANG table
SET IDENTITY_INSERT KHACHHANG ON;
GO
INSERT INTO KHACHHANG (MAKH, TENKH, SDT) VALUES
(1, N'', N''),
(2, N'Nguyen Van A', N'0914722032'),
(3, N'Nguyen Van B', N'0838858410'),
(4, N'Thu Nghiem', N'0933618057'),
GO
SET IDENTITY_INSERT KHACHHANG OFF;
GO

-- Insert data into NHANVIEN table
INSERT INTO NHANVIEN (MANHANVIEN, TenNhanVien, CALAM, PASSNV) VALUES
(N'admin', N'administration', 1, N'123'),
(N'nguyenvanc', N'C', 0, N'123');
(N'1', N'THUNGHIEM', 0, N'1');

GO

-- Insert data into BAN table
SET IDENTITY_INSERT BAN ON;
GO
SET IDENTITY_INSERT BAN OFF;
GO

-- Insert data into BIENLAI table
SET IDENTITY_INSERT BIENLAI ON;
GO
SET IDENTITY_INSERT BIENLAI OFF;
GO

-- Insert data into NUOC table
INSERT INTO NUOC (MANUOC, TENNUOC, PRICE) VALUES
(1, N'Coca Cola', 15000),
(2, N'Pepsi', 15000),
(3, N'Orange Juice', 20000);
GO

-- Insert data into ORDERS table
INSERT INTO ORDERS (MADV, MANUOC, MABIENLAI, MABAN, SOLUONGKHACHMUA) VALUES
(1, 1, 1, 2, 2),
(2, 2, 1, 2, 1),
(3, 3, 2, 4, 3);
GO



select * from [ORDER]
select * from BAN
select * from BIENLAI
select * from CHITIETBIENLAI
select * from KHACHHANG
select * from NHANVIEN
select * from QUANLI
select * from nuoc